<h5 class="accHeader">Matching Congressional Legislation</h5>
<hr class="lineBreak">


<accordion close-others="true">
  <accordion-group ng-repeat="match in bills.matches" is-open="section1.isOpen">

      <accordion-heading>
        <i ng-class="{true : 'icon-chevron-down', false : 'icon-chevron-right'}[!!section1.isOpen]"></i>
        <span ng-bind="match.short_title"></span>
      </accordion-heading>

      <!-- <a class="btn btn-info btn-mini btn-full-text" ng-href="{{match.last_version.urls.pdf}}" target="_blank">Full Text</a> -->

      <div class="bill-description">
        <span class="italic"><span ng-bind="match.bill_id"></span></span>:
        <span ng-bind="match.official_title"></span>
      </div>

      <!-- <div class="bill-status">Status: {{match.status}}</div> -->

      <div class="bill-progress">
        <div class="progress">
          <div class="bar bar-danger" style="width: 25%;"></div>
          <div ng-show="match.progress > 1" class="bar bar-warning" style="width: 25%;"></div>
          <div ng-show="match.progress > 2" class="bar bar-info" style="width: 25%;"></div>
          <div ng-show="match.progress > 3" class="bar bar-success" style="width: 25%;"></div>
        </div>

        <table class="progress-labels">
          <tr>
            <td>Introduced</td>

            <td ng-show="match.status.senate" ng-class="{greyed: match.status.senate == false}">Senate</td>
            <td ng-show="match.status.senate" ng-class="{greyed: match.status.house == false}">House</td>

            <td ng-show="!match.status.senate" ng-class="{greyed: match.status.house == false}">House</td>
            <td ng-show="!match.status.senate" ng-class="{greyed: match.status.senate == false}">Senate</td>

            <td ng-class="{greyed: match.status.signed == false}">Signed</td>
          </tr>
        </table>
      </div>

      <hr class="lineBreak">

      <table class="source">
        <tr>
          <td><a ng-href="{{match.last_version.urls.pdf}}" target="_blank">Full Text</a></td>
          <td><a ng-href="{{match.urls.congress}}" target="_blank">congress.gov</a></td>
          <td><a ng-href="{{match.urls.govtrack}}" target="_blank">GovTrack.us</a></td>
          <td><a ng-href="{{match.urls.opencongress}}" target="_blank">opencongress.org</a></td>
        </tr>
      </table>

  </accordion-group>
</accordion>
