<h5 class="accHeader">Matching Key Terms</h5>
<hr class="lineBreak">

<accordion>
  <accordion-group ng-repeat="match in glossary.matches" is-open="section1.isOpen">

    <accordion-heading>
      <i ng-class="{true : 'icon-chevron-down', false : 'icon-chevron-right'}[!!section1.isOpen]"></i>
      {{match.name}}
    </accordion-heading>

    <p>{{match.def.short_def}}</p>
    <div class="sourceGlossary" ng-show="match.def.sourceURL">Source: <a href="{{match.def.sourceURL}}">{{match.def.sourceURL}}</a></div>

  </accordion-group>
</accordion>