<h5 class="accHeader">Matching Congressional Legislation</h5>
<hr class="lineBreak">


<accordion close-others="true">
  <accordion-group ng-repeat="match in bills.matches" is-open="section1.isOpen">

      <accordion-heading>
        <i ng-class="{true : 'icon-chevron-down', false : 'icon-chevron-right'}[!!section1.isOpen]"></i>
        {{match.short_title}}
      </accordion-heading>

      <a class="btn btn-info btn-mini btn-full-text" href="{{match.last_version.urls.pdf}}" target="_blank">Full Text</a>

      <div><span class="italic">{{match.bill_id}}</span>: {{match.official_title}}</div>

      <div class="source">
        <span>Find out more:</span>
        <a href="{{match.urls.congress}}" target="_blank">congress.gov</a> |
        <a href="{{match.urls.govtrack}}" target="_blank">GovTrack.us</a> |
        <a href="{{match.urls.opencongress}}" target="_blank">opencongress.org</a>
      </div>

  </accordion-group>
</accordion>