<h5 class="accHeader">Matching Congressmen</h5>
<hr class="lineBreak">

<accordion>
  <accordion-group ng-repeat="match in congressmen.matches" is-open="section1.isOpen">

    <accordion-heading>
      <i ng-class="{true : 'icon-chevron-down', false : 'icon-chevron-right'}[!!section1.isOpen]"></i>
      {{match.first_name}} {{match.last_name}} ({{match.party}})
    </accordion-heading>

    <img class="mugshot img-rounded" src="http://localhost:8080/congressmen/img/{{match.bioguide_id}}">

    <span class="name-congress">{{match.state_rank}} {{match.chamber == 'senate' && "Senator" || "Representative"}} {{match.first_name}} {{match.last_name}}</span>
    <ul class="infoList">
      <li>State: {{match.state_name}}</li>
      <li ng-show="match.chamber != 'senate'">District: {{match.district}}</li>
      <li></li>
    </ul>

    <a href="{{match.website}}" target="_blank" class="btn btn-info btn-mini btn-congress"><i class="icon-globe"></i> | Official Site</a>
    <a href="http://www.facebook.com/profile.php?id={{match.facebook_id}}" target="_blank" class="btn btn-facebook btn-mini btn-congress"><i class="icon-facebook"></i> | Facebook</a>
    <a href="http://www.twitter.com/{{match.twitter_id}}" target="_blank" class="btn btn-twitter btn-mini btn-congress"><i class="icon-twitter"></i> | Twitter</a>

  </accordion-group>
</accordion>