.nav, .pagination, .carousel a {
  cursor: pointer;
}

body {
  width: 400px;
  height: 300px;
  background-image: url('../../images/cream_dust.png');
  color: rgb(98,95,92);
  font-family: Verdana, Geneva, sans-serif;
  padding: 0;
}

.accordion {
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.accHeader {
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.active > a{
  background-image: url('../../images/cream_dust.png');
}

.nav-tabs {
  background-color: #EEE
}

.btn-congress {
  margin-top: 5px;
}

a.btn-full-text {
  margin-bottom: 10px;
}

.italic {
  font-style: italic;
  font-weight: bold;
}

.name-congress {
  font-weight: bold;
}

ul.infoList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 250px;
  height: 40px;
}

.lineBreak {
  margin: 10px 20px 20px 20px;
  border-color: #DDD;
  color: blue;
}

.bill-progress {
  margin-top: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.progress {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px
}

.progress-labels {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  width: 350px;
  text-align: center;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}

.progress-labels td {
  width: 25%;
}

td.greyed {
  color: #AAA;
  font-weight: normal;
}

.source {
  font-size: .8em;
  margin-top: 0px;
  width: 100%;
  border: none;
  border-collapse: collapse;
  text-align: center;
}

.source td {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  padding: 0;
}

.source td:first-child {
  border-left: none;
}

.source td:last-child {
  border-right: none;
}

.sourceGlossary {
  font-size: .8em;
  margin-top: 5px;
  clear: both;
}

.mugshot {
  width: 75px;
  float: left;
  margin-right: 15px;
}

.tab > a {
  font-size: 0.7em;
  font-family: Arial, Helvetica, Sans-serif;
  margin-top: 5px;
}

.tab {
  width: 110px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.tabFill {
  width: 400px;
  height: 300px;
}
